<p id="notice"><%= notice %></p>

<h1>Persondetails</h1>

<table>
  <thead>
    <tr>
      <th>Personable</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>Cedula</th>
      <th>Huella digital</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @persondetails.each do |persondetail| %>
      <tr>
        <td><%= persondetail.personable_id %></td>
        <td><%= persondetail.nombre %></td>
        <td><%= persondetail.apellido %></td>
        <td><%= persondetail.edad %></td>
        <td><%= persondetail.cedula %></td>
        <td><%= persondetail.huella_digital %></td>
        <td><%= link_to 'Show', persondetail %></td>
        <td><%= link_to 'Edit', edit_persondetail_path(persondetail) %></td>
        <td><%= link_to 'Destroy', persondetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Persondetail', new_persondetail_path %>
