<div class="card ">
  <div class="card-body">
    <h5 class="card-title text-center mb-4">Informacion de propiedad <%= @property.identifier %></h5>
   
		<div class="cardSpaceLeft">   
			<p>
			  <strong>Usuario:</strong>
			  <%= @property.user_id %>
			</p>
			<p>
			  <strong>Residents:</strong>
			  <%= link_to 'Residents', property_residents_path(@property) %>
			</p>

			<%= link_to 'Edit', edit_property_path(@property) %> |
			<%= link_to 'Back', properties_path %>

		</div>
	</div>
</div>