<% if current_user %>
  <% if current_user.admin %> 
    <h3 class='mb-5'> Usuario Administrador</h3>
    <div>
      <%= link_to "Conjuntos", groups_path, class: "btn btn-sm btn-primary mb-3" %>
    </div>
    <div>
    <div>
    	<%= link_to "Properties", properties_path, class: "btn btn-sm btn-primary mb-3" %>
    </div>
    <div>
    	<%= link_to "Sign Out", destroy_user_session_path, method: :delete, 
  		class: "btn btn-sm btn-danger mb-3" %>
    </div>
    <div>
     <%= link_to "Edit User", edit_user_registration_path,
      class: "btn btn-sm btn-warning mb-3" %>
    </div>
  <% else %>
    <div>
     <%= link_to "Properties", properties_path, class: "btn btn-sm btn-primary mb-3" %>
     </div>
    <div>
     <%= link_to "Sign Out", destroy_user_session_path, method: :delete, 
         class: "btn btn-sm btn-danger mb-3" %>
     </div>
     <div>
       <%= link_to "Edit User", edit_user_registration_path,
           class: "btn btn-sm btn-warning mb-3" %>
     </div>
  <% end %>

<% else %> 
  <div>		
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-sm btn-primary mb-3" %>
  </div>
  <div>  
   <%= link_to  "Sign Up", new_user_registration_path, class: "btn btn-sm btn-primary mb-3" %>
  </div>
<% end %> 