<h1  class="mb-5">Residents</h1>

<div class="table table-responsive"> 
  <div class="indextable">
    <table class="table table-hover">  
  <thead>
    <tr>
      <th>Principal</th>
      <th>Property</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @residents.each do |resident| %>
      <tr>
        <td><%= resident.principal.to_s.capitalize  %></td>
        <td><%= resident.property_id %></td>
        <td><%= link_to 'Show', property_resident_path(@property, resident) %></td>
        <td><%= link_to 'Edit', edit_property_resident_path(@property, resident) %></td>
        <td><%= link_to 'Destroy', property_resident_path(@property, resident), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>


<br>

<div class="mb-5"> 
  <%= link_to 'New Resident', new_property_resident_path %> | 
  <%= link_to 'Show Property', @property %>
</div>