<h1  class="mb-5">Residents</h1>

<div class="table table-responsive"> 
  <div class="indextable">
    <table class="table table-hover">  
  <thead>
    <tr>
      <th>Principal</th>
      <th>Número</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @residents.each do |resident| %>
      <tr>
        <td><%= resident.principal.to_s.capitalize  %></td>
        <td><%= resident.property.identifier %></td>
        <td><%= link_to 'Ver', property_resident_path(@property, resident) %></td>
        <td><%= link_to 'Editar', edit_property_resident_path(@property, resident) %></td>
        <td><%= link_to 'Borrar', property_resident_path(@property, resident), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>


<br>

<div class="mb-5"> 
  <%= link_to 'Nuevo Residente', new_property_resident_path %> | 
  <%= link_to 'Ver Propiedad', group_property_path(@group, @property)%>
</div>