<div class="card ">
  <div class="card-body">
    <h5 class="card-title text-center mb-4">Informacion de Usuario <%= @property.user_id %></h5>
		<p>
		  <strong>Propiedad No:</strong>
		  <%= @resident.property.identifier %>
		</p>
	  <p>
		  <strong>Principal:</strong>
		  <%= @resident.principal.to_s.capitalize %>
		</p>



		<%= link_to 'Editar', edit_property_resident_path(@property, @resident) %> |
		<%= link_to 'Residentes', property_residents_path(@property) %>

</div>
</div>